<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Ionic Academy
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="special-text">Awesome Component bruh</div>
    <button ion-button full icon-left (click)="leavePage()">
        <ion-icon name="close"></ion-icon>
    </button>
</ion-content>